.ClaseDiv1 {
    color: blue;
    text-align: center;
    font-size: 33pt;
}

.DivBelloBello2 {
    color: pink;
    text-align: left;
}

.Button1 {
    background-color: chocolate;
}

h1 {
    color: red;
}